@import "tailwindcss";
@font-face {
    font-family: 'AeonikTRIAL';
    src: url('../src/assets/fonts/AeonikTRIAL-Bold.otf') format('opentype'),
         url('../assets/fonts/AeonikTRIAL-Light.otf') format('opentype'),
         url('../assets/fonts/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  