---
import { Button } from "free-astro-components";
import Modal from "./Modal.astro";
import ModalHeader from "./ModalHeader.astro";
import ModalBody from "./ModalBody.astro";
import ModalFooter from "./ModalFooter.astro";
---

<Modal id="about-us-modal">
  <ModalHeader>
    <h1 class="text-[#577975] text-2xl text-center font-light">ABOUT US</h1>
  </ModalHeader>
  <ModalBody>
    <p class="text-gray-500"><strong class="text-[#5D918A]">Who are we?</strong> AQUAMARIA is a 5-bed, 3-baths contemporary vacation rental home with a saltwater pool.</p> <br>
    <p class="text-gray-500"><strong class="text-[#5D918A]">Where are we?</strong> In Fort Lauderdale, Florida, a.k.a. the Venice of America, only 10 minutes (5 mi/8 km) away from: Las Olas Beach, the Hard Rock Casino and Guitar, FLL International Airport, Broward County Convention Center, Port Everglades, Las Olas Blvd, and Dania Pointe.</p> <br>
    <p class="text-gray-500"><strong class="text-[#5D918A]">Why should you visit us?</strong> Because we took your comfort and rest very seriously and everything in AQUAMARIA was carefully selected to create a cozy yet elegant space, so you can feel at peace, and ready to unplug and relax in our little paradise. Additionally, AQUAMARIA is a duplex home, so it comes with two fully-equipped kitchens, cozy living rooms, and amazingly comfortable beds.</p> <br>
    <p class="text-gray-500"><strong class="text-[#5D918A]">When should you visit us?</strong> We are ready to host you 24/7, 365 days of the year.</p> <br>
    <p class="text-gray-500"><strong class="text-[#5D918A]">How can you stay with us?</strong> Just select your favorite marketplace to book your stay (Airbnb, Vrbo, or Booking.com), and we'll see you soon!</p> <br>
  </ModalBody>
  <ModalFooter>
  </ModalFooter>
</Modal>

