---
import Airbnb from "./icons/Airbnb.astro";
import Vrbo from "./icons/Vrbo.astro";
import Booking from "./icons/Booking.astro"; // Asegúrate de tener este ícono también
import Modal from "./Modal.astro";
import ModalBody from "./ModalBody.astro";
import ModalFooter from "./ModalFooter.astro";
import ModalHeader from "./ModalHeader.astro";
import airbnb from "../assets/airbnb.svg";
import Button from "./Button.astro";
---

<Modal id="book-us-modal">
  <ModalHeader>
    <h1 class="text-[#577975] text-2xl text-center font-light tracking-widest">BOOK US</h1>
  </ModalHeader>
  <ModalBody>
    <div class="flex items-center flex-col gap-5">
      <Button link="https://www.airbnb.com/rooms/1151769293265028988?viralityEntryPoint=1&unique_share_id=B971003D-120D-44A6-B0AE-B8AC9F6EDE82&slcid=0e7c826b1b2f46b6bdd7cec208796433&s=76&feature=share&adults=1&channel=native&slug=EadBCrlf&source_impression_id=p3_1716589180_RAtJplMpm4PFfBrG&fbclid=PAZXh0bgNhZW0CMTEAAadQI9AAcDkhQ5ZW_teBwWeeZT2y9WKOyGPv2_A_dbF7G60z614PsIFRrR_Oxw_aem_XKw9Z8-d9OiU4KtZszLF2A">
        <Airbnb class="h-14 w-40"/>
      </Button>
      <Button link="https://www.vrbo.com/es-mx/propiedad/p3989784vb?referrerId=HOT.HIS.Share.Landed.Copy_Link&fbclid=PAZXh0bgNhZW0CMTEAAadXg1DBvhRwbYbcm4isucXlkhXCzSzj_7axzSaWCaZ73lkozvipqX3Nsi46UA_aem_KtdYJ3eJzS4dkaI5STsPJA">
        <Vrbo class="h-14 w-40"/>
      </Button>
      <Button link="https://www.booking.com/hotel/us/aquamaria-home-fort-lauderdale.html?fbclid=PAZXh0bgNhZW0CMTEAAadpxBu14RxUuTLUiCdx8r9ALQConLmP06BrhoW3y6eU8-CP0v2B9dahf2KHmQ_aem_EZxIZ7mz2Hnmpw99lPH49g">
        <Booking class="h-14 w-40"/>
      </Button>
    </div>
  </ModalBody>
  <ModalFooter />
</Modal>
