---
import Modal from "./Modal.astro";
import ModalBody from "./ModalBody.astro";
import ModalFooter from "./ModalFooter.astro";
import ModalHeader from "./ModalHeader.astro";
---

<Modal id="contact-us-modal">
  <ModalHeader>
    <h1 class="text-[#577975] text-2xl text-center font-light tracking-widest">
      CONTACT US
    </h1>
  </ModalHeader>
  <ModalBody>
    <form class="flex flex-col gap-4">
      <label class="flex flex-col text-sm text-[#577975]">
        Name
        <input
          type="text"
          name="name"
          required
          class="mt-1 p-2 border border-[#577975] rounded-md"
          placeholder="Your name"
        />
      </label>

      <label class="flex flex-col text-sm text-[#577975]">
        Email
        <input
          type="email"
          name="email"
          required
          class="mt-1 p-2 border border-[#577975] rounded-md"
          placeholder="your@email.com"
        />
      </label>

      <label class="flex flex-col text-sm text-[#577975]">
        Message
        <textarea
          name="message"
          rows="4"
          required
          class="mt-1 p-2 border border-[#577975] rounded-md resize-none"
          placeholder="Write your message here..."></textarea>
      </label>
    </form>
  </ModalBody>
  <ModalFooter>
    <button
      type="submit"
      form="contact-form"
      class="w-full bg-[#577975] text-white py-2 px-4 rounded-md hover:bg-[#46625c] transition"
    >
      Send Message
    </button>
  </ModalFooter>
</Modal>
