---
const currentYear = new Date().getFullYear();
---

<footer class="bg-repeat text-center py-10 relative">
  <div>
    <span class="text-gray-600 text-sm font-light bg-[#ffffff] inline-block w-64 md:w-80 lg:w-96 py-2 px-6 rounded-4xl shadow-lg">
        © {currentYear}
      <a class="hover:underline" target="_blank" href="">Aquamaria</a>. All rights reserved.

      <div>
        Made with ❤️ by <a
          class="hover:underline"
          href="https://www.linkedin.com/in/santiago-franco-de-la-rosa-b657941b0/" target="_blank"
          >safraxzz</a
        >
      </div>
    </span>
  </div>
</footer>
