---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aquamaria Home</title>
  </head>
  <body>
    <div
    class="max-w-6xl mx-auto py-10 md:py-20 px-4 md:px-8 rounded-t-[999px] rounded-b-[400px] bg-white overflow-visible"
  >
      <slot />
    </div>
  </body>
</html>
